@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine
@using BestRestaurants.Models
<div class="row">
  <div class="card col-sm-8 mx-auto p-3" style="width: 30rem">
<h2>Cuisine Types</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (@Model.Restaurants.Count == 0)
{
  <h3>No restaurants have been added to this category yet...</h3>
}
else
{
  <h3>Restaurants:</h3>
  @foreach (Restaurant restaurant in Model.Restaurants)
  {
    <h5>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId} )</h5>
  }
}
</div>
</div>
<div class="text-center">
<button>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId})</button>
<button>@Html.ActionLink("Delete", "Delete", new { id = Model.CuisineId})</button>
</div>