@{
  Layout = "_Layout";
}
@model BestRestaurants.Models.Restaurant

<h2>Add a service</h2>
<h4>Choose services to add to this restaurant: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RestaurantId)

  @Html.Label("Select meal service")
  @foreach (var service in ViewBag.Services as List<BestRestaurants.Models.Service>)
  {
    <div>
      <input type="checkbox" id="@("ServiceId_" + service.ServiceId)" name="ServiceIds" value="@service.ServiceId" />
      <label for="@("ServiceId_" + service.ServiceId)">@service.Type</label>
    </div>
  }

  <input type="submit" value="Save" />
}
<!-- wnat to change dropdown to checkbox -->