@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Restaurant
@using BestRestaurants.Models

<h2>Restaurant Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>
<h3>@Html.DisplayNameFor(model => model.Neighborhood): @Html.DisplayFor(model => model.Neighborhood)</h3>
<h3>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)</h3>
<h3>@Html.DisplayNameFor(model => model.Cuisine): @Html.DisplayFor(model => model.Cuisine.Name)</h3>

@if (@Model.Reviews.Count == 0)
{
  <h3>No reviews have been added yet..</h3>
}
else
{
  @foreach (Review review in Model.Reviews)
  {
    <h5>@Html.ActionLink($"{review.Feedback}", "Details", "Reviews", new { id = review.ReviewId })</h5>
  }
}


<button>@Html.ActionLink("Edit Restaurant", "Edit", new { id = Model.RestaurantId })</button>
<button>@Html.ActionLink("Delete", "Delete", new { id = Model.RestaurantId })</button>
<button>@Html.ActionLink("Add Review", "Create", "Reviews")</button>